.controller {
  @apply max-w-[80%] m-auto;
}

.section { 
  @apply flex items-center flex-col text-center;
  padding: 6rem 0;
}

.section-title {
  font-size: 2rem
}

.btn {
  @apply cursor-pointer;
}

.divider {
  @apply w-full h-[1px];
  background: #fff;
  margin: 1rem 0;
}

.shadow-skills::after {
  background-color: red;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}